LogService/src/main/webapp/WEB-INF/ErrorDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:crimsonlogic:schema:xsd:ErrorService" targetNamespace="urn:crimsonlogic:schema:xsd:ErrorService"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:element name="errorDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="errorId" type="xs:string" />
				<xs:element name="errorDescription" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
